<footer class="footer">
  <small>
    <a href="#">Ruby Community</a>
    Devolep by <a href="http://www.facebook.com/muhammad.tamzid" target="_blank">Muhammad Tamzid</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>